<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>个人中心</title>

    <link href="css/bootstrap.css" th:href="@{static/index/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <link href="css/home.css" th:href="@{static/index/css/home.css}" rel="stylesheet" type="text/css"/>

    <link href="http://at.alicdn.com/t/font_l6a0fwucxvzehfr.css" rel="stylesheet" type="text/css"/>
    <link href="http://at.alicdn.com/t/font_jvc3xp5ob1uac3di.css" rel="stylesheet" type="text/css"/>
    <link href="http://at.alicdn.com/t/font_2426641_lt111qdz5v.css" rel="stylesheet" type="text/css"/>
    <link href="http://at.alicdn.com/t/font_2427478_4yurfmgtcoe.css" rel="stylesheet" type="text/css"/>

</head>

<body>


<!--头部-->
<div class="zhang">
    <div class="container">
        <div class="xiao">
            <a href="javascript:;"><span class="iconfont icon-xiaoxi"><i></i></span></a>
            <a href="/shop/index/information"><span class="iconfont icon-iconfontshezhi"></span></a>
        </div>
        <div class="tou_x">
            <a href="javascript:;" onclick="login1()">
                <div class="iconfont img"><img src="" id="img" style="width: 60px;height: 60px;"/></div>
                <div class="yong">
                    <p id="mname">请登录</p>
                    <span id="mphone"></span>
                </div>
            </a>
        </div>
    </div>
</div>

<!--列表-->

<div class="ding">
    <div class="one">
        <div class="container">
            <a href="/shop/index/order_info">
                <p class="biao"><i class="iconfont icon-jiantou"></i></p>
            </a>
        </div>
    </div>
    <ul>
        <li>
            <a href="/shop/index/order_info">
                <span class="iconfont icon-qianbao-"><i id="status"></i></span>
                <p>全部订单</p>
            </a>
        </li>
        <li>
            <a href="/shop/index/order_info">
                <span class="iconfont icon-daifahuo1"><i id="status_zero"></i></span>
                <p>待支付</p>
            </a>
        </li>
        <li>
            <a href="/shop/index/order_info">
                <span class="iconfont icon-daishouhuo"><i id="status_one"></i></span>
                <p>待提货</p>
            </a>
        </li>
        <li>
            <a href="/shop/index/order_info">
                <span class="iconfont icon-daipingjia1"><i id="status_two"></i></span>
                <p>已提货</p>
            </a>
        </li>

    </ul>
</div>


<!--列表-->
<div class="lie_y">
    <div class="container">
        <div class="row">
            <!--<div class="col-xs-4">-->
            <!--<a href="/shop/index/recommend">-->
            <!--<span class="iconfont icon-shoucang"></span>-->
            <!--<p class="lll">推荐好友</p>-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
            <!--<a href="/shop/index/footprint">-->
            <!--<span class="iconfont icon-zuji1" style="color:#f9a900;"></span>-->
            <!--<p class="lll">我的足迹</p>-->
            <!--</a>-->
            <!--</div>-->

            <div class="col-xs-4">
                <a href="/shop/index/address">
                    <span class="iconfont icon-shouhuodizhi" style="color:#72ad14;"></span>
                    <p class="lll">自提地址</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="/shop/index/user_add">
                    <span class="iconfont icon-tuijian" style="color:#bd45e5;"></span>
                    <p class="lll">门店入驻</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="/shop/index/user_login">
                    <span class="iconfont icon-shangjia"></span>
                    <p class="lll">商家中心</p>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#">
                    <p class="lll lianxi" style="margin-bottom:0.5em">如果您找不到购物的提货门店</p>
                    <p class="lll">请致电：<em class="rexian">400-000-0000</em></p>
                </a>
            </div>
            <!--<div class="col-xs-4">
                <a href="#">
                    <span class="iconfont icon-shimingrenzheng" style="color:#fe6e12;"></span>
                    <p class="lll">实名认证</p>
                </a>
            </div>-->
            <!--<div class="col-xs-4">
                <a href="#">
                    <span class="iconfont icon-conpon1" style="color:#f9a900;"></span>
                    <p class="lll">代金券</p>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#">
                    <span class="iconfont icon-hongbao" style="color:#fa3535;"></span>
                    <p class="lll">红包</p>
                </a>
            </div>-->

        </div>
    </div>
</div>


<!--footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="/shop/index/index" class="dao">
                    <i class="iconfont icon-home"></i>
                    <span class="nav_ti">首页</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/shop/index/business" class="dao">
                    <i class="iconfont icon-app"></i>
                    <span class="nav_ti">分类</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/shop/index/shopcart" class="dao">
                    <i class="iconfont icon-cart"></i>
                    <span class="nav_ti">购物车</span>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="/shop/index/personal" class="dao">
                    <i class="iconfont icon-account" style="color:#246fc0;"></i>
                    <span class="nav_ti" style="color:#246fc0;">个人中心</span>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery.min.js" th:src="@{static/index/js/jquery.min.js}" type="text/javascript"></script>
<script>
    var mid = sessionStorage.getItem('mid');
    var token = sessionStorage.getItem('token');
    
    function login1() {
        if($("#mname").text()=="请登录"){
            window.location.href='/shop/index/login';
        }else{
            window.location.href='/shop/index/information';
        }
    }
    $.ajax({
        url: "/shop/member/findById"
        , headers: {
            "token": token,
            "Access-Control-Allow-Origin": "*"
        }
        , type: "get"
        , data: {"id": mid}
        , contentType: 'application/json'
        , success: function (data) {
            $('#mname').text(data.data.name);
            $('#mphone').text("手机号：" + data.data.phone);
            $('#img').attr('src', data.data.portrait)
        }
    });

    $.ajax({
        url: "/shop/order/findByIdResultCount"
        , headers: {
            "token": token,
            "Access-Control-Allow-Origin": "*"
        }
        , type: "get"
        , data: {"mid": mid}
        , contentType: 'application/json'
        , success: function (data) {
            $('#status').text(data.data.status);
            $('#status_zero').text(data.data.status_zero);
            $('#status_one').text(data.data.status_one);
            $('#status_two').text(data.data.status_two);
        }
    });

</script>
<script src="js/bootstrap.min.js" th:src="@{static/index/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="js/index.js" th:src="@{static/index/js/index.js}" type="text/javascript"></script>


</body>
</html>
