<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <title>佣金记录</title>

    <link href="css/bootstrap.css" th:href="@{static/index/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link href="css/home.css" th:href="@{static/index/css/home.css}" rel="stylesheet" type="text/css" />

<link href="http://at.alicdn.com/t/font_6688xdquixljif6r.css" rel="stylesheet" type="text/css" />


</head>

<body>

<!--top-->
<div class="top_c">
    <a href="/shop/index/user_personal" class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">佣金记录</p>
</div>


<div class="xi_m" id="xi_m">
	<div class="xi_one">
        <div class="container">
    		<div class="xi_left">
            	<p>提现</p>
                <span>2017-02-20 12:02:46</span>
            </div>
            <div class="xi_right">
            	<p class="edu">-100.00</p>
            </div>
    	</div>
    </div>
    <div class="xi_one">
        <div class="container">
    		<div class="xi_left">
            	<p>购买商品</p>
                <span>2017-02-20 12:02:46</span>
            </div>
            <div class="xi_right">
            	<p class="edu">-100.00</p>
            </div>
    	</div>
    </div>
    <div class="xi_one">
        <div class="container">
    		<div class="xi_left">
            	<p>还款</p>
                <span>2017-02-20 12:02:46</span>
            </div>
            <div class="xi_right">
            	<p class="edu">+100.00</p>
            </div>
    	</div>
    </div>
    <div class="xi_one">
        <div class="container">
    		<div class="xi_left">
            	<p>购买商品</p>
                <span>2017-02-20 12:02:46</span>
            </div>
            <div class="xi_right">
            	<p class="edu">-100.00</p>
            </div>
    	</div>
    </div>
    <div class="xi_one">
        <div class="container">
    		<div class="xi_left">
            	<p>购买商品</p>
                <span>2017-02-20 12:02:46</span>
            </div>
            <div class="xi_right">
            	<p class="edu">-100.00</p>
            </div>
    	</div>
    </div>
    <div class="xi_one">
        <div class="container">
    		<div class="xi_left">
            	<p>还款</p>
                <span>2017-02-20 12:02:46</span>
            </div>
            <div class="xi_right">
            	<p class="edu">+100.00</p>
            </div>
    	</div>
    </div>
</div>



<script src="js/jquery.min.js" th:src="@{static/index/js/jquery.min.js}" type="text/javascript"></script>
<script type="text/javascript" src="js/iscroll.js" th:src="@{static/index/js/iscroll.js}"></script>
<script>
    function getFormatDate2(date){
        var nowDate = new Date(date);
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
        var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
        var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
        return year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
    }
    var uid = sessionStorage.getItem('uid');
    var token = sessionStorage.getItem('token');
    $('#xi_m').empty();   //清空resText里面的所有内容
    var html = '';
    $.ajax({
        url: "/shop/commission/findCommissionByUid"
        , headers: {
            "token": token,
            "Access-Control-Allow-Origin": "*"
        }
        , type: "get"
        , data: {"id": uid}
        , contentType: 'application/json'
        , success: function (data) {
            $.each(data.data, function(commentIndex, comment){
                html+='<div class="xi_one">\n' +
                    '        <div class="container">\n' +
                    '    \t\t<div class="xi_left">\n' +
                    '            \t<p>订单编号：'+comment.oid+'</p>\n' +
                    '                <span>'+getFormatDate2(comment.order_settlement_time*1000)+'</span>\n' +
                    '            </div>\n' +
                    '            <div class="xi_right">\n' +
                    '            \t<p class="edu">+'+comment.amount+'</p>\n' +
                    '            </div>\n' +
                    '    \t</div>\n' +
                    '    </div>';
            });
            $('#xi_m').html(html);
        }
    });
    //var Scroll = new iScroll('xi_m',{hScrollbar:false, vScrollbar:false,hScroll:true,vScroll:false,});
</script>
<script src="js/index.js" th:src="@{static/index/js/index.js}" type="text/javascript"></script>




</body>
</html>
