<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<title>登录</title>

    <link href="css/bootstrap.css" th:href="@{static/index/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link href="css/home.css" th:href="@{static/index/css/home.css}" rel="stylesheet" type="text/css" />

    <link href="http://at.alicdn.com/t/font_6688xdquixljif6r.css" rel="stylesheet" type="text/css" />
    <link href="http:////at.alicdn.com/t/font_2521136_tdlync5c2r.css" rel="stylesheet" type="text/css" />
</head>

<body style="background:#fff;">

<!--top-->
<div class="top_c">
    <a href="javascript:history.back(-1);" class="iconfont icon-jiantou-copy-copy" ></a>
    <p class="titi">登录</p>
</div>

<div class="login">
	<div class="container">
		<img src="static/index/images/logo1.png">
        <form>
        <div class="ru">
        	<span class="iconfont icon-shouji"></span>
            <input type="text" name="phone" size="60" maxlength="60" style="color:#ccc" value="请输入您的手机号" onfocus="if(this.value=='请输入您的手机号'){this.value=''};this.style.color='black';" onblur="if(this.value==''||this.value=='请输入您的手机号'){this.value='请输入您的手机号';this.style.color='#ccc';}">
        </div>
        <div class="ru">
        	<span class="iconfont icon-mima"></span>
            <input type="text" name="password" size="60" maxlength="60" style="color:#ccc" value="请输入您的登录密码" onfocus="if(this.value=='请输入您的登录密码'){this.value=''};this.style.color='black';" onblur="if(this.value==''||this.value=='请输入您的登录密码'){this.value='请输入您的登录密码';this.style.color='#ccc';}">
        </div>
        <div class="ru1" id="ru1">
            <span class="iconfont icon-yanzhengma"></span>
            <input type="text" name="code" size="20" maxlength="60" style="color:#ccc" value="请输入4位验证码" onfocus="if(this.value=='请输入4位验证码'){this.value=''};this.style.color='black';" onblur="if(this.value==''||this.value=='请输入4位验证码'){this.value='请输入4位验证码';this.style.color='#ccc';}">
            <div class="yan">
                <img src="validateCode" alt="captcha" style="width: 5em;float: left;margin-left: 20px;margin-right:100px;" id="mycode" onclick="imgsrc()"/>
            </div>
        </div>
        <a href="index/forget" class="wang" id="wang"></a>
        <a href="javascript:;" class="deng" onclick="login()">登 录</a>
        <a href="index/register" class="wang" style="text-align:center;"></a>
        <div class="san">
            <hr/><span>其他</span><hr/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6"><a href="index/user_forget">忘记密码？</a></div>
                    <div class="col-xs-6"><a href="index/user_add">免费注册</a></div>
                </div>
            </div>
        </div>
        </form>
	</div>
</div>
<script src="js/jquery.min.js" th:src="@{static/index/js/jquery.min.js}" type="text/javascript"></script>

<script src="js/bootstrap.min.js" th:src="@{static/index/js/bootstrap.min.js}"  type="text/javascript"></script>
<script src="js/index.js" th:src="@{static/index/js/index.js}" type="text/javascript"></script>

<script>


    function imgsrc() {
        var random=Math.ceil(Math.random()*10);
        $("#mycode").attr('src', 'validateCode?'+random);
    }
    function login() {
        var x=$("form").serializeArray();
        var data = {"phone":"","password":"","code":""};
        $.each(x, function(i, field){
            data[field.name] = field.value;

        });
        //alert(JSON.stringify(data));
        $.ajax({
            url: "/shop/user/login"
            , headers: {"Access-Control-Allow-Origin": "*"}
            , dataType: "json"
            , data: JSON.stringify(data)
            , contentType: 'application/json'
            , type:"post"
            ,success: function (data) {
                if (data.code==0){
                    //alert(data.data.user.id);
                    sessionStorage .setItem("uid", data.data.user.id);
                    sessionStorage .setItem("token", data.data.token);
                    window.location.href='/shop/index/user_personal';
                }else {
                    alert(data.msg);
                }

            }
        });
    }
    var h1=$("#wang").offset().top - $(window).scrollTop();
    var h2=$("#ru1").offset().top - $(window).scrollTop()-h1;
    var h=$("#ru1").offset().top - $(window).scrollTop()+h2;
    var flag = IsPC();
    //alert("hhhh:" + flag);
    if (flag) {
        h=h+116;
        //alert(h);
        $("#mycode").css("margin-bottom", h);
    } else {
        //alert(h);
        $("#mycode").css("margin-bottom", h);
    }

    function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "SymbianOS", "Windows Phone"];
        var flag = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flag = false;
                break;
            }
        }
        return flag;
    }
</script>


</body>
</html>
