<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhj.shop.repository.MemberRepository">

    <resultMap id="BaseResultMap" type="com.hhj.shop.entity.Member">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="phone" jdbcType="CHAR" property="phone"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
        <result column="portrait" jdbcType="VARCHAR" property="portrait"/>
    </resultMap>


    <sql id="Base_Column_List">
		id, phone, name, pwd, portrait
	</sql>


    <delete id="delete" parameterType="java.lang.Integer">
		delete from member
		where id = #{id,jdbcType=INTEGER}
	</delete>


    <insert id="insert" parameterType="com.hhj.shop.entity.Member">
		insert into member (phone, name,
		pwd, portrait)
		values (#{phone,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
		#{pwd,jdbcType=VARCHAR}, #{portrait,jdbcType=VARCHAR})
	</insert>


    <insert id="insertDynamic" parameterType="com.hhj.shop.entity.Member">
        insert into member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="portrait != null">
                portrait,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="portrait != null">
                #{portrait,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateDynamic" parameterType="com.hhj.shop.entity.Member">
        update member
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="portrait != null">
                portrait = #{portrait,jdbcType=VARCHAR},
            </if>
        </set>
        where 1=1
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=CHAR}
            </if>
    </update>


    <update id="update" parameterType="com.hhj.shop.entity.Member">
		update member
		set phone = #{phone,jdbcType=CHAR},
		name = #{name,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		portrait = #{portrait,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>


    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member
        where id = #{id,jdbcType=INTEGER}
    </select>


    <sql id="findPageWithWhere">
        <where>1=1
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=CHAR}
            </if>
            <if test="name != null and name != ''">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="pwd != null and pwd != ''">
                and pwd = #{pwd,jdbcType=VARCHAR}
            </if>
            <if test="portrait != null and portrait != ''">
                and portrait = #{portrait,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>


    <select id="findPageWithResult" parameterType="com.hhj.shop.dto.PageDTO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from member
        where 1=1
        <if test="keywords != null and keywords != ''">and name like #{keywords}</if>
        limit #{page},#{limit}
    </select>

    <select id="login" parameterType="Member" resultType="Member">
		select * from member where phone = #{phone} and pwd = #{pwd}
	</select>

    <select id="findPageWithCount" parameterType="com.hhj.shop.dto.PageDTO" resultType="Integer">
        select count(1)
        from member
        where 1=1
        <if test="keywords != null and keywords != ''">and name like #{keywords}</if>
    </select>

    <select id="findByPhoneWithCount" parameterType="com.hhj.shop.entity.Member" resultType="java.lang.Integer">
		select count(1)
		from member
		where phone = #{phone,jdbcType=VARCHAR}
	</select>

</mapper>