<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhj.shop.repository.RegionRepository">

	<resultMap id="BaseResultMap" type="com.hhj.shop.entity.Region">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
	</resultMap>


	<sql id="Base_Column_List">
		id, name
	</sql>


	<delete id="delete" parameterType="java.lang.Integer">
		delete from region
		where id = #{id,jdbcType=INTEGER}
	</delete>


	<insert id="insert" parameterType="com.hhj.shop.entity.Region">
		insert into region (id, name)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>


	<insert id="insertDynamic" parameterType="com.hhj.shop.entity.Region">
		insert into region
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateDynamic" parameterType="com.hhj.shop.entity.Region">
		update region
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>


	<update id="update" parameterType="com.hhj.shop.entity.Region">
		update region
		set name = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>


	<select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from  region
		where id = #{id,jdbcType=INTEGER}
	</select>


	<sql id="findPageWithWhere">
		<where> 1=1
			<if test="id != null" >
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''" >
				and name = #{name,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>


	<select id="findPageWithResult" parameterType="com.hhj.shop.dto.PageDTO" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from  region
		<include refid="findPageWithWhere" />
		limit #{start},#{pageSize}
	</select>


	<select id="findPageWithCount" parameterType="com.hhj.shop.dto.PageDTO" resultType="Integer">
		select count(1)
		from region
		<include refid="findPageWithWhere" />
	</select>

	<select id="findAllRegion" resultMap="BaseResultMap">
		select id,name from  region
	</select>

</mapper>