<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>欢迎页面-L-admin1.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" th:href="@{static/admin/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{static/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{static/admin/css/xadmin.css}">
    <script th:src="@{static/admin/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{static/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{static/admin/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="javascript:;">首页</a>
        <a href="javascript:;">佣金管理</a>
        <a href="javascript:;">
          <cite>佣金列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>
<div class="x-body">
        <xblock>
            <button class="layui-btn layui-btn-danger" id="export-id">批量导出</button>
        <div style="float: right">
            <form class="layui-form layui-col-md12 x-so">
                <input class="layui-input" placeholder="开始日" name="startTime" id="startTime">
                <input class="layui-input" placeholder="截止日" name="endTime" id="endTime">
                <input type="text" name="keywords" placeholder="请输入佣金ID" autocomplete="off" class="layui-input">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i>
                </button>
            </form>
        </div>

    </xblock>

    <table id="idTest" lay-filter="demo"></table>
    <div style="display: none;">
        <table id="data_export">
        </table>
    </div>


</div>
<script>
    var ids = [];
    layui.use(['form', 'table', 'laydate'], function () {
        var table = layui.table
            , form = layui.form
            , laydate = layui.laydate;
        var $ = layui.jquery;

        //日期
        var nowTime = new Date();
        var startTime = laydate.render({
            elem: '#startTime',
            btns: ['clear', 'now'],
            max: 'nowTime',//默认最大值为当前日期
            done: function (value, date) {
//    		console.log(value); //得到日期生成的值，如：2017-08-18
//    	    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                endTime.config.min = {
                    year: date.year,
                    month: date.month - 1,//关键
                    date: date.date,
                    hours: date.hours,
                    minutes: date.minutes,
                    seconds: date.seconds
                };

            }
        });
        var endTime = laydate.render({
            elem: '#endTime',
            btns: ['clear', 'now'],
            max: 'nowTime',
            done: function (value, date) {
//    		console.log(value); //得到日期生成的值，如：2017-08-18
//    	    console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
                startTime.config.max = {
                    year: date.year,
                    month: date.month - 1,//关键
                    date: date.date,
                    hours: date.hours,
                    minutes: date.minutes,
                    seconds: date.seconds
                }

            }
        });

        //监听提交
        form.on('submit(sreach)', function(data){
            keywords(data.field);
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // });
            return false;
        });
        var exportData = {};    //定义导出报表的数据
        var ins1;
        keywords();

        function keywords(keywords) {
            //第一个实例
            var ins1=table.render({
                elem: '#idTest'
                , url: '/shop/commission/ByPage' //数据接口
                , headers: {"token": "token:PC-c4ca4238a0b923820dcc509a6f75849b-20210412090817473-554972"}
                , where: keywords
                , page: true //开启分页
                , id: 'idTest'
                ,title:'佣金记录表'
                ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示'
                    ,layEvent: 'LAYTABLE_TIPS'
                    ,icon: 'layui-icon-tips'
                }]
                , cols: [
                    [ //表头
                        {field: 'oid', title: '订单编号', width: 200, sort: true, fixed: 'left', style: 'height:40px;'}
                        , {field: 'uname', title: '所属管理员', width: 100}
                        , {field: 'amount', title: '订单佣金金额（单位：元）', width: 240}
                        , {field: 'order_settlement_time', title: '佣金生成时间', width: 180}

                    ]
                ]
                , done: function (res, curr, count) {
                    pageCurr = curr;
                    exportData=res.data;
                }
            });
        }
        //表格导出
        $("#export-id").click(function(){
            table.exportFile('idTest',exportData, 'xls');
        });


    });

</script>
</body>

</html>