<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="@{/}">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" th:href="@{static/admin/images/favicon.ico}" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{static/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{static/admin/css/xadmin.css}">
    <script th:src="@{static/admin/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{static/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{static/admin/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" lay-filter="formTest">

            <!--<div class="layui-form-item">-->
                <!--<label for="uploadPic" class="layui-form-label">-->
                    <!--<span class="x-red">*</span>上传图片-->
                <!--</label>-->
                <!--<div class="layui-input-inline" style="padding-left: 10px;">-->
                    <!--<button type="button" class="layui-btn" id="uploadPic">-->
                        <!--<i class="layui-icon">&#xe67c;</i>上传图片-->
                    <!--</button>-->
                <!--</div>-->

            <div class="layui-form-mid layui-word-aux">
                <!--<span class="x-red">*</span>-->
                <!-- 隐藏的input,一个隐藏的input（用于保存id） -->
                <input type="hidden" id="id" name="id" value=""/>
            </div>

            <div class="layui-form-item">
                <label for="password" class="layui-form-label">
                    <span class="x-red">*</span>密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="password" name="password" required lay-verify="required|pass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="repass" name="repass" required lay-verify="required|repass"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="uploadPic" class="layui-form-label">
                    <span class="x-red">*</span>上传图片
                </label>
                <div class="layui-input-inline" style="padding-left: 10px;">
                    <button type="button" class="layui-btn" id="uploadPic">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                </div>

                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                    <!-- 隐藏的input,一个隐藏的input（用于保存文件url） -->
                    <input type="hidden" id="portrait" name="portrait" value=""/>
                    <img class="layui-upload-img" width="100px" height="80px" id="aftershow"/>
                </div>

                <div class="layui-form-item" style="padding-left: 100px">
                    <button  class="layui-btn" lay-filter="add1" lay-submit="">
                        提交
                    </button>
                </div>
              　
      　　　　<!-- 预览区域 -->
      <!--　　　　<div class="layui-upload-list">-->
      <!--　　　　　　<img class="layui-upload-img" width="100px" height="80px" id="preShow" onclick="previewImg(this)"/>-->
      <!--　　　　　　<p id="demoText"></p>-->
      <!--　　　　</div>-->
          </div>

      </form>
    </div>
    <script>
        var goodsId = localStorage.getItem("goodsId");
        var clsId = localStorage.getItem("clsId");
        var goods={};
        var  updateid= {
            "id":1001
        }
        layui.use(['form','layer','upload','layedit'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
              , upload = layui.upload
              ,layedit = layui.layedit;
            //layer.msg("传递的id为"+goodsId);
            // layer.msg("传递的clsid为"+clsId);
            layedit.set({
                uploadImage: {
                    url: '/shop/goods/imageUpload' //接口url
                    ,headers:{"token":"token:PC-c4ca4238a0b923820dcc509a6f75849b-20210412090817473-554972",
                        "Access-Control-Allow-Origin":"*"}
                }
            });
            $.ajax({
                url: '/shop/goods/findById',
                headers:{"token":"token:PC-c4ca4238a0b923820dcc509a6f75849b-20210412090817473-554972",
                    "Access-Control-Allow-Origin":"*"},
                type : "post",
                data:JSON.stringify(updateid),
                contentType: 'application/json',
                success: function (resp) {
                    if (resp.code == 0) {
                        goods=resp.data;
                        //console.log("1"+goods);
                        $('#id').val(resp.data.id);
                        $('#goodName').val(resp.data.goodName);
                        //$("#clsId").val(resp.data.clsId);
                        $('#inventory').val(resp.data.inventory);
                        $('#price').val(resp.data.price);
                        $('#spec').val(resp.data.spec);

                        form.render();
                        $('#photos').val(resp.data.photos);
                        $('#aftershow').attr("src",resp.data.photos);
                        $('#price').val(resp.data.price);
                        $('#spec').val(resp.data.spec);
                        layedit.setContent(index, goods.particulars, false);
                        // $('#particulars').val(resp.data.particulars);
                        // $('#inventory').val(resp.data.inventory);
                        // $('#price').val(resp.data.price);
                        // $('#spec').val(resp.data.spec);
                    }
                }
            });



            //获取分类
            $.ajax({
                type: 'POST',
                url: '/shop/classify/findAllClassify',
                dataType: 'json',
                headers:{"token":"token:PC-c4ca4238a0b923820dcc509a6f75849b-20210412090817473-554972",
                "Access-Control-Allow-Origin":"*"},
                notice: false,
                success: function (resp) {
                    if (resp.code == 0) {
                        var data = resp.data;
                        $.each(data, function (index, item) {
                            // console.log("fu:"+typeof item.id);
                            // clsId=Number(clsId)
                            // console.log(typeof clsId);
                            if (item.id==clsId){
                                //layer.msg(item.id);
                                $('#clsId').append(new Option(item.clsName, item.id,true,true));
                            }else {
                                $('#clsId').append(new Option(item.clsName, item.id));
                            }
                        });
                        layui.form.render("select"); //刷新表单select选择框渲染
                    }
                }
            });

            // 监听
            $(document).ready(function() {
                // select下拉框选中触发事件
                form.on("select", function(data){
                    layer.msg(data.value); // 获取选中的值
                });

            });

            //上传图片
            var uploadInst = upload.render({
                elem: '#uploadPic' //绑定元素
                ,url: '/shop/goods/imageUpload' //上传接口 [[@{/upload/img}]]
                , headers:{"token":"token:PC-c4ca4238a0b923820dcc509a6f75849b-20210412090817473-554972",
                    "Access-Control-Allow-Origin":"*"}
                // ,auto: false
                ,exts: 'doc|docx|pdf|jpg|jpeg|png|zip|'
                // ,bindAction: '#uploadPicBtn'
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#preShow').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    //上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    //上传成功
                    if(res.code == 0){
                        $('#aftershow').attr('src', res.data.src);
                        document.getElementById("photos").value = res.data.src;
                        return layer.msg('上传成功');
                    }

                }
                ,error: function(re){
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });

        
          // //自定义验证规则
          form.verify({
          //   // clsName: function(value){
          //   //   if(value.length < 1 && value.length>5){
          //   //     return '分类名为2到4个字符';
          //   //   }
          //   // }
              clsName: [/(.+){2,4}$/, '分类名为2到4个字符']
              ,synopsis: [/(.+){1,50}$/, '简介不超过50个字符']
              ,price:[/^(?!0+$)(?!0*\.0*$)\d{1,8}(\.\d{1,2})?$/,'金额必须为纯数字，小数点前8位后2位']
              ,integer: [
                  /^[1-9]\d*$/
                  , '只能输入正整数'
              ]
            // ,repass: function(value){
            //     if($('#L_pass').val()!=$('#L_repass').val()){
            //         return '两次密码不一致';
            //     }
            // }
          });

          // //监听提交
          form.on('submit(add1)', function(data){
            layer.msg(layedit.getContent(index));
            data.field.particulars=layedit.getContent(index);
            layer.msg(data.field.type)
              console.log("type:"+data.field.type);
              if (data.field.type=='on')
                  data.field.type=1;
              else
                  data.field.type=0;
              if (data.field.carousel=='on')
                  data.field.carousel=1;
              else
                  data.field.carousel=0;
            console.log(data.field);
            // //发异步，把数据提交给服务器
              $.ajax({
                  url:"/shop/goods/update"
                  ,headers:{"token":"token:PC-c4ca4238a0b923820dcc509a6f75849b-20210412090817473-554972",
                  "Access-Control-Allow-Origin":"*"}
                  ,type : "POST"
                  ,dataType : "json"
                  ,data:JSON.stringify(data.field)
                  ,contentType: 'application/json'
                  ,success : function(data) {
                      console.log(data);
                      //layer.msg(data.msg);
                      layer.alert("增加成功", {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                      });
                      parent.location.reload();
                       //location.reload(); //删除成功后再刷新
                  },
                  error : function(data) {
                      layer.msg("失败");
                  }

              });

            return false;
          });
          
          
        });

        // function previewImg(obj) {
        //     var img = new Image();
        //     img.src = obj.src;
        //     //var height = img.height + 50; // 原图片大小
        //     //var width = img.width; //原图片大小
        //     var imgHtml = "<img src='" + obj.src + "' width='500px' height='500px'/>";
        //     //弹出层
        //     layer.open({
        //         type: 1,
        //         shade: 0.8,
        //         offset: 'auto',
        //         area: [500 + 'px',550+'px'],  // area: [width + 'px',height+'px']  //原图显示
        //         shadeClose:true,
        //         scrollbar: false,
        //         title: "图片预览", //不显示标题
        //         content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
        //         cancel: function () {
        //             //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
        //         }
        //     });
        // }

    </script>
  </body>

</html>